# Thumbnails
._*

# The following ignores...
# Miscellaneous Hudson litter
*.log
*.tmp
*.old
*.jar
*.json

# Linux user files
.Xauthority
.bash_history
.bash_profile
.fontconfig
.gitconfig
.gem
.lesshst
.mysql_history
.owner
.ri
.rvm
.ssh
.viminfo
.vnc
bin/
tools/

# Generated Hudson state
**/.owner
**/secret.key
**/queue.xml
**/fingerprints/
**/shelvedProjects/
**/updates/
**/jobs/*/workspace/
**/updates/default.json
**/war/

# Tools that Hudson manages
/tools/

# Project specific stuff
**/custom_deps/
**/slave/workspace/
**/slave-slave.log.*
*/cache/
*/fingerprints/
*/elasticsearch/*

# JEBC
**/jgroups/*
**/monitoring/*
*~
**/wars/jenkins*.war
*.log
*.zip
*.rrd
*.gz
*.fdt
*.war
*.hpi
*.jpi
*.cfe
*.si
*.tim
*.tip
*.doc
*.blm
